[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/liyunfan1223/mod-playerbots.git
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = git@github.com:azerothcore/mod-ah-bot.git
[submodule "modules/mod-individual-progression"]
	path = modules/mod-individual-progression
	url = git@github.com:ZhengPeiRu21/mod-individual-progression.git
[submodule "modules/mod-learn-spells"]
	path = modules/mod-learn-spells
	url = git@github.com:azerothcore/mod-learn-spells.git
